@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h1>Header</h1>
    </div>
    <div class="card-body">
        This is some body text
    </div>
    <table class="table table-striped">
        <tr>
            <th>Test</th>
            <th>It Out</th>
        </tr>
        <tr>
            <td>Test</td>
            <td>It Out</td>
        </tr>
    </table>
    <div class="card-footer">
        <button class="btn btn-danger btn-lg">Don't Click This</button>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Test</h1>
        </div>
        <div class="col-3">
            <h1>Test</h1>
        </div>
        <div class="col-3">
            <h1>Test</h1>
        </div>
    </div>
</div>
